#!/usr/bin/make -f

export PYBUILD_NAME=webob
#export PYBUILD_VERBOSE=1
#export DH_VERBOSE=1

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_test:
	# enable network, tests.test_in_wsgiref.test_request_reading needs it
	http_proxy='' dh_auto_test

override_dh_installchangelogs:
	dh_installchangelogs -k CHANGES.txt

